# Configuración privada o dependiente del computador
.vscode/launch.json
*.code-workspace
tools/local_config.ps1

# Salidas de compilacion
/build/
/cmake_build/
*.elf
*.bin
*.hex
*.map
*.lst
*.o
*.obj
*.d
__pycache__/
*.pyc

# Temporales
*.tmp
*.bak
*~
Thumbs.db
.DS_Store
